.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .app {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, var(--color-pink-transparent), var(--color-purple-transparent)), url(https://i.pinimg.com/originals/91/b5/cd/91b5cdab51e207263169904b227503b4.jpg);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .keypad {
  height: 55vh;
  width: 100%;
} */
.keypad_row {
  height: 16vh;
  width: 100%;
}

.calculator {
  height: 80vh;
  width: 40%;
}

.btn {
  width: 25%;
  height: 100%;
  font-size: 1rem;
}
.result_screen {
  height: 25vh;
  width: 100%;
  background-color: #817c87;
}

.answer {
  height: 15vh;
  width: 100%;
}

.equation {
  height: 10vh;
  width: 100%;
}